@import "tailwindcss";
@source "../components";

@theme {
  --font-nunito: var(--font-nunito);
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-nunito);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #1a1a1a;
}

@keyframes growPlant {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(20px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-grow {
  animation: growPlant 0.6s ease-out forwards;
}